.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E1D4C9;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav p {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav p:hover {
    color: #C7A17A;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .navigation p {
    margin: 0;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    background-image: url('./assets/coffee-cup-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
  } 