* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #E1D4C9;
  color: #403F3D;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}